bin/
build/
*.o
*.exe
server.log
*.log
ITit-*.tar.gz

third_party/ncurses/_install/
third_party/ncurses/**/*.o
third_party/ncurses/**/*.a
third_party/ncurses/**/*.so
third_party/ncurses/**/*.dylib
third_party/PDCurses/**/*.o
third_party/PDCurses/**/*.a

.DS_Store
*~
